{{#if display}}

{{#each classes}}

<div>
	{{label}}
	<div class="class" data-class='yes' data-label='{{label}}' data-index='{{@index}}'>
		
		{{#if new}}
		{{>starShape}} <div class="italic">Nova aula!</div>
		{{else}}
		{{>badge}} <div class="italic">Rever aula</div>
		{{/if}}

	</div>
</div>
{{/each}}

{{else}}

{{#each classes}}

<div class="class" data-label='{{label}}' data-index='{{@index}}'>
	{{label}}

	{{#if new}}
		{{>star}}
	{{else}}
		{{>starShape}}
	{{/if}}

	{{#if new}}
	<div class="italic"> {{new}} novas aulas!</div>
	{{else}}
	<div class="italic">Não tem novas aulas</div>
	{{/if}}
</div>

{{/each}}

{{/if}}