<div id="logo">
	{{>logo}}
	ul3i
</div>

{{#if user.name}}
<div>
	<button class='profile {{color}} lightest'>{{user.name}}</button>
	<button class='logout {{color}} light'>Terminar sessão</button>
</div>
{{else}}
<button class='login {{color}} light'>Iniciar sessão</button>
{{/if}}