<div class='profileHeader'>
	{{#if model.teacher}}
	<img src='http://www.foundationhouse.org.au/wp-content/uploads/2014/05/Briele_YES_smallest.jpg'>
	{{else}}
	<img src='http://www.criticschoice.com/wp-content/uploads/avatars/544/79f7d649fcf36589a9698e09ec68ce97-bpfull.jpg'>
	{{/if}}
	<div class="info">
		<div>Nome: {{model.name}}</div>
		<div>Idade: {{model.age}}</div>
		<div>Data de Nascimento: {{model.dob}}</div>
		<div>Sexo: {{model.sex}}</div>
		<div>Nacionalidade: {{model.nationality}}</div>
		<div>Naturalidade: {{model.natural}}</div>
		<div>Contacto: {{model.contact}}</div>
	</div>
</div>

<div class='profileContent'>
	
	{{#if model.student}} 
	<div class="info">
		<div class="title">Cursos Concluídos: {{>badge}}</div>
		<course-header>
			<name>Nome</name>
			<rating>Nota</rating>
			<year>Ano</year>
		</course-header>
		<course>
			<name>História da Arte do Antigo Egipto</name>
			<rating>18</rating>
			<year>2014-2015</year>
		</course>
		<course>
			<name>Música Tradicional Castelhana</name>
			<rating>18</rating>
			<year>2014-2015</year>
		</course>
		<course>
			<name>Introdução ao Estudo das Ciências Políticas</name>
			<rating>16</rating>
			<year>2014-2015</year>
		</course>
	</div>

	<div class="info">
		<div class="title">Cursos em progresso:</div>
	
		<div>{{>starShape}}História da Ciência e de Cientistas</div>
		<div>{{>starShape}}A União Europeia</div>
		<div>{{>starShape}}Ciências Políticas</div>
		<div>{{>starShape}}Diálogos com a Arte</div>
		<div>{{>starShape}}Estudos Olisiponenses</div>
	</div>
	{{else}}
	<div class="info">
		<div class="title">Cursos leccionados:</div>
		<div>{{>star}}História de Portugal e Cultura</div>
		<div>{{>star}}A União Europeia</div>
		<div>{{>star}}Estudos Olisiponenses</div>
	</div>
	{{/if}}
</div>
